* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* color: white; */
}

.section {
  /* background-color: red; */
}

.container {
  /* background-color: green; */
  --variableName: 64px;
  max-width: calc(
    1200px + 2 * var(--variableName)
  );
  /* margin: 0 auto; */
  /* margin-left: auto;
  margin-right: auto; */
  margin-inline: auto;
  /* padding: 0 24px; */
  /* padding-left: 24px;
  padding-right: 24px; */
  padding-inline: var(--variableName);
}

.wrapper {
  /* background-color: blue; */
  /* padding: 64px 0; */
  /* padding-top: 64px;
  padding-bottom: 64px; */
  padding-block: 64px;
}

.nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-block: 12px;
}

.nav__menuWrapper {
  display: flex;
  gap: 24px;
  align-items: baseline;
}

.nav {
  background-color: black;
  color: white;
  font-weight: 700;
}

.nav__menu,
.nav__logo {
  /* color: white; */
}
.nav .container {
  /* background-color: black; */
}

.button {
  width: fit-content;
  background-color: slateblue;
  padding: 8px 16px;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  text-align: center;
}

.button--type-text {
  background-color: unset;
  color: slateblue;
  padding-inline: unset;
}
