$wrapper-padding-inline: 2rem;
$min-height: 2rem;
$progressBar-heigt: 1rem;

$animation-duration: 3s;
$animation-delay: 0.1s;

*,
*::before,
::after {
  margin-inline: auto;
  box-sizing: border-box;
}

.hide {
  display: none;
}

html {
  color-scheme: light dark;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Nanum Gothic";
  font-size: 1rem;
  line-height: 1.5;
}

header {
  text-align: center;
  text-wrap: balance;
  word-break: keep-all;
  .wrapper {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hdanimTarget {
    font-size: 47px;
  }
}

section {
  font-family: "Nanum Gothic";
  font-size: 15px;
  overflow: hidden;
}

.wrapper {
  justify-content: center;
  display: flex;

  width: min(100ch, 100% - 4rem);
  min-height: max(400px, 100dvh);
  margin-inline: auto;

  align-items: center;
}

.content {
  width: 100%;

  padding: 0px;
}

#section0 {
  background-color: black;
  color: white;

  .hdanimTarget {
    display: inline-block;
    overflow: hidden;

    span {
      display: inline-block;
      opacity: 0;
      filter: blur(8px);
      animation: textFadeIn $animation-duration
        ease-in-out forwards;

      @for $i from 1 to 4 {
        &:nth-child(#{$i}) {
          animation-delay: calc(
            #{$animation-delay} * #{$i}
          );
        }
      }
    }

    &.triggered {
      span {
        opacity: 1;
        filter: blur(0);
      }
    }
  }
}

@keyframes textFadeIn {
  0% {
    opacity: 0;
    filter: blur(8px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

#section0 {
  position: relative;

  .panimTarget {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s, transform 0.5s;
    transition-delay: 3s;
  }

  &.triggered {
    .panimTarget {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

#section1 {
  color: white;
  .wrapper {
    display: flex;
    gap: 1.5rem;
  }
  h1 {
    display: inline;
  }
  img {
    overflow: hidden;

    width: 100%;
  }
  .hdanimTarget {
    position: relative;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        transparent 90%,
        #ffffff
      );
      animation: typing 5s linear infinite;
    }
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

#section2 {
  .wrapper {
    display: flex;
    gap: 21px;
  }
  img {
    overflow: hidden;
    width: 100%;
  }
  .animTarget {
    transform: scale(0);
    transition: transform 500ms ease-out;
  }
  &.triggered {
    .animTarget {
      transform: scale(1);
    }
  }
}

#section3 {
  color: white;
  .wrapper {
    gap: 0.75rem;
    overflow: hidden;
  }

  img {
    overflow: hidden;
    width: 100%;
  }
  .content {
    .animTarget {
      transform: translateX(100vw);
      transition: transform 500ms ease-out;
    }
    &.triggered {
      .animTarget {
        transform: translateX(0);
      }
    }
  }
}

#section4 {
  .wrapper {
    gap: 24px;
  }
  .content.animTarget {
    transition: transform 500ms ease-out,
      border 500ms ease-out;
  }
  h2.animTarget {
    transform: translateX(-100vw);
    transition: transform 500ms ease-out;
  }
  p.animTarget {
    transform: translateX(100vw);
    transition: transform 500ms ease-out;
  }
  &.triggered {
    .content.animTarget {
      background-color: rgb(255, 255, 255);
      border: 0px solid transparent;
      border-radius: 12px;
      padding: 32px;
    }
    h2.animTarget {
      transform: translateX(0);
    }
    p.animTarget {
      transform: translateX(0);
    }
  }
}

#section5 {
  color: white;
  justify-content: center;
  .wrapper {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    img {
      display: flex;
      max-width: fit-content;
      width: 100%;
      grid-column: 1 / span 3;
      grid-row: 1;
      z-index: 2;
    }
  }
  .animTarget {
    opacity: 0;
  }
  &.triggered {
    .animTarget {
      opacity: 1;
      animation: bounceInRight 2s ease-out;
    }
  }
}

@keyframes bounceInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  60% {
    transform: translateX(-25%);
    opacity: 1;
  }
  80% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}

#section6 {
  gap: 1.5rem;
  img {
    width: 100%;
  }
  .animTarget {
    transform: scale(0);
    transition: transform 1000ms ease-out;
  }
  &.triggered {
    .animTarget {
      transform: scale(1);
    }
  }
}

#section7 {
  color: white;
  .animTarget {
    opacity: 0;
    visibility: hidden;
  }
  &.triggered {
    .animTarget {
      opacity: 1;
      visibility: visible;
      .hhanimTarget {
        display: inline-block;
        overflow: hidden;

        span {
          display: inline-block;
          opacity: 0;
          filter: blur(8px);
          animation: textFadeIn
            $animation-duration ease-in-out
            forwards;

          @for $i from 1 through 2 {
            &:nth-child(#{$i}) {
              animation-delay: calc(
                #{$animation-delay} * #{$i}
              );
            }
          }
        }
      }
    }
  }
}

@keyframes textFadeIn {
  0% {
    opacity: 0;
    filter: blur(8px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

#section8 {
  position: relative;

  .hhanimTarget {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s, transform 0.5s;
    transition-delay: 0.5s;
  }

  &.triggered {
    .hhanimTarget {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@keyframes textFadeIn {
  0% {
    opacity: 0;
    filter: blur(8px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

#endanimTriger {
  line-height: 36px;
  color: white;
  h2 {
    font-size: 37px;
  }
  span {
    font-weight: 700;
  }
  .content {
    position: relative;
  }
}

@media (max-width: 930px) {
  img {
    max-width: 870px;
    width: 100%;
    padding-bottom: 6px;
  }
  .wrapper {
    margin: auto;
    flex-direction: column;
    align-items: center;
    padding-block: 16px;
  }
  .content {
  }
  h2 {
    display: grid;
    justify-content: center;
  }
  p {
    max-width: 100%;
  }
  span {
    display: grid;
    justify-content: center;
  }
  svg {
    max-width: 70px;
  }
}
.h2star {
  flex-direction: column;

  align-items: center;
}

.star-bigcontainer {
  display: flex;
}
.h2star {
  display: flex;
}

.star-container {
  transition: background-color 250ms ease-in-out;
  &:hover {
    background-color: rgb(185, 183, 207);
  }
}

.star--clicked {
  background-color: rgb(255, 238, 3);
  &:hover {
    background-color: rgb(255, 255, 4);
  }
}

section:nth-child(even) {
  background-color: rgb(180, 162, 177);
}

section:nth-of-type(odd) {
  background-color: rgb(58, 55, 63);
}

.stickyWrapper {
  position: relative;
  display: grid;
  grid-template-columns: fit-content(0) 1fr;
  grid-template-rows: 1fr;
}

main {
  grid-column: 1 / span 3;
  grid-row: 1;
  z-index: 1;
}

aside {
  position: sticky;
  top: 0;
  z-index: 3;
  grid-column: 3;
  grid-row: 1;
  padding-inline: 1rem 1.5rem;
  background-color: rgba(0 0 0 /50%);
  backdrop-filter: blur(0.25rem);
  width: fit-content;
  height: max(100dvh, $min-height);
  border-radius: 1rem 0 0 1rem;
  font-size: 16px;
  ol {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    li {
      color: white;
      font-weight: 600;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      gap: 0.75rem;
      &::before {
        content: "";
        width: 1rem;
        height: 1rem;
        border: 0.125rem solid white;
        border-radius: 999999999px;
      }
    }
  }
  a {
    text-decoration: none;
  }
}

.progressBar {
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  height: $progressBar-heigt;
  background-color: rgba(64 64 64);

  grid-column: 1 / span 3;
  grid-row: 1;
  .indicator {
    position: absolute;
    inset: 0 0 0 0;
    transform-origin: left;

    background-color: lightblue;
  }
}

footer {
  .wrapper {
    min-height: max(100dvh, $min-height);
  }
}

@media (max-width: 930px) {
  .stickyWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }

  main {
    grid-column: 1;
    grid-row: 3;
  }

  aside {
    top: $progressBar-heigt;
    grid-column: 1;
    grid-row: 3;
    padding-block: 1rem;
    padding-inline: unset;
    width: 100%;
    height: fit-content;
    border-radius: 0 0 1rem 1rem;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    ol {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 3rem;

      a:first-of-type li {
        margin-left: $wrapper-padding-inline;
      }
      a:last-of-type li {
        margin-right: $wrapper-padding-inline;
      }
    }
  }

  .progressBar {
    grid-column: 1;
    grid-row: 1;
  }
}
