$wrapper-padding-inline: 2rem;
$min-height: 2rem;
$progressBar-heigt: 1rem;

*,
*::before,
::after {
  box-sizing: border-box;
}

.hide {
  display: none;
}

html {
  color-scheme: light dark;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: system-ui;
  font-size: 1.125rem;
  line-height: 1.5;
}

section {
  overflow: hidden;
}
.wrapper {
  // max-width: calc(
  //   80ch + 2 * $wrapper-padding-inline
  // );
  // min-height: max(50dvh, $min-height);
  width: min(60ch, 100% - 4rem);
  min-height: max(600px, 100dvh);
  margin-inline: auto;
  padding-inline: $wrapper-padding-inline;
  //   background-color: bisque;

  display: flex;
  flex-direction: column;
  //   justify-content: space-between;
  justify-content: center;
  //   align-items: baseline;
}

.content {
  border: 1px solid red;
}

#section2 {
  .animTarget {
    transform: scale(0);
    transition: transform 500ms ease-out;
  }
  &.triggered {
    .animTarget {
      transform: scale(1);
    }
  }
}

#section3 {
  .content {
    .animTarget {
      transform: translateX(100vw);
      transition: transform 500ms ease-out;
    }
    &.triggered {
      .animTarget {
        transform: translateX(0);
      }
    }
  }
}

#section4 {
  .content.animTarget {
    transition: transform 500ms ease-out,
      border 500ms ease-out;
  }
  h2.animTarget {
    transform: translateX(-100vw);
    transition: transform 500ms ease-out;
  }
  p.animTarget {
    transform: translateX(100vw);
    transition: transform 500ms ease-out;
  }
  &.triggered {
    .content.animTarget {
      background-color: dodgerblue;
      border: 0px solid transparent;
    }
    h2.animTarget {
      transform: translateX(0);
    }
    p.animTarget {
      transform: translateX(0);
    }
  }
}

#section5 {
  .animTarget {
  }
  &.triggered {
    .animTarget {
    }
  }
}
// 애니메이션 만드는법 인터셐션옵져버 1시간8분

header {
  text-align: center;
  text-wrap: balance;
  word-break: keep-all;
}

section:nth-child(even) {
  background-color: darkolivegreen;
}

section:nth-of-type(odd) {
  background-color: cornsilk;
}

.stickyWrapper {
  position: relative;
  display: grid;
  grid-template-columns: fit-content(0) 1fr;
  grid-template-rows: 1fr;
}

main {
  grid-column: 1 / span 3;
  grid-row: 1;
  z-index: 1;
}

aside {
  position: sticky;
  top: 0;
  z-index: 3;
  grid-column: 3;
  grid-row: 1;
  padding-inline: 1rem 1.5rem;
  background-color: rgba(0 0 0 /50%);
  backdrop-filter: blur(0.25rem);
  width: fit-content;
  height: max(100dvh, $min-height);
  border-radius: 1rem 0 0 1rem;
  font-size: 16px;
  ol {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    li {
      color: white;
      font-weight: 600;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      gap: 0.75rem;
      &::before {
        content: "";
        width: 1rem;
        height: 1rem;
        border: 0.125rem solid white;
        border-radius: 999999999px;
      }
    }
  }
  a {
    text-decoration: none;
  }
}

.progressBar {
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  height: $progressBar-heigt;
  background-color: rgba(64 64 64);

  grid-column: 1 / span 3;
  grid-row: 1;
  .indicator {
    position: absolute;
    inset: 0 0 0 0;
    transform-origin: left;
    // transform: scaleX(50%);
    background-color: lightblue;
  }
}

footer {
  .wrapper {
    min-height: max(100dvh, $min-height);
  }
}

@media (width < 67.5rem) {
  .stickyWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }

  main {
    grid-column: 1;
    grid-row: 3;
  }

  aside {
    top: $progressBar-heigt;
    grid-column: 1;
    grid-row: 3;
    padding-block: 1rem;
    padding-inline: unset;
    width: 100%;
    height: fit-content;
    border-radius: 0 0 1rem 1rem;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    ol {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 3rem;

      a:first-of-type li {
        margin-left: $wrapper-padding-inline;
      }
      a:last-of-type li {
        margin-right: $wrapper-padding-inline;
      }
    }
  }

  .progressBar {
    grid-column: 1;
    grid-row: 1;
  }
}

@media (width < 59.1875rem) {
  aside {
    ol {
      justify-content: flex-start;
    }
  }
}
